@namespace FluentTestamente.Components
@using FluentTestamente.Models

<FluentCard Style="max-width: 500px; min-height: 500px; margin: 20px auto; padding: 20px;overflow: visible;">
    <FluentStack Orientation="Orientation.Vertical" VerticalGap="10">
        <FluentLabel Typo="@Typography.H3" Style="text-align: center; margin-bottom: 20px;">
            @Text
        </FluentLabel>

        <FluentTextField @bind-Value="@person.Name" Label="Fulde navn" Required="true" />
        
        <FluentDatePicker @bind-Value="@selectedDate" Label="Fødselsdato" Required="true" />
        
        <FluentTextField @bind-Value="@person.Address" Label="Addresse" Required="true" />
        
        <FluentCheckbox @bind-Value="@person.IsAlive" Label="Nulevende"/>

        <FluentStack Orientation="Orientation.Horizontal" HorizontalAlignment="HorizontalAlignment.Center">
            <FluentButton Appearance="Appearance.Accent" OnClick="CreatePersonAsync">
                Opret person
            </FluentButton>
        </FluentStack>

        <FluentStack Orientation="Orientation.Horizontal" HorizontalAlignment="HorizontalAlignment.Center">
            <FluentButton Appearance="Appearance.Neutral" OnClick="OnFinished">
                Jeg er færdig med at tilføje data
            </FluentButton>
            <FluentButton Appearance="Appearance.Neutral" OnClick="OnCancel">
                Afbryd
            </FluentButton>
        </FluentStack>
    </FluentStack>
</FluentCard>
<div>
    <FluentHeader>
        Tilføjede personer
    </FluentHeader>
<FluentDataGrid Id="personGrid" Items="@savedPeopleQueryable" GridTemplateColumns="1fr 1fr 1fr 2fr"  TGridItem="Person">
    <PropertyColumn Title="Navn" Property="@(c => c!.Name)" Align="Align.Start"/>
    <PropertyColumn Title="Addresse" Property="@(c => c!.Address)" Align="Align.Center"/>
    <PropertyColumn Title="Fødselsdato" Property="@(c => c!.DateOnlyBirthDateString)" Align="Align.Center"/>
    <PropertyColumn Title="Nulevende" Property="@(c => c!.IsAlive)" Align="Align.End"/>
</FluentDataGrid>
</div> 


@code {
    private Person person = new();

    [Parameter] public string Text { get; set; }
    [Parameter] public EventCallback OnFinished { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }
    private List<Person> savedPeople = new();
    private IQueryable<Person?> savedPeopleQueryable;
    private DateTime? selectedDate;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        selectedDate = DateTime.Now.AddYears(-30); 
    }


    private async Task CreatePersonAsync()
    {
        savedPeople.Add(CopyPerson(person));
        savedPeopleQueryable = savedPeople.AsQueryable();
        StateHasChanged();
    }
    private Person CopyPerson(Person person)
    {
        Person newPerson = new();
        newPerson.Name = person.Name;
        newPerson.Address = person.Address;
        newPerson.IsAlive= person.IsAlive;
        newPerson.BirthDate = selectedDate;
        newPerson.DateOnlyBirthDateString = newPerson.BirthDate?.ToString("dd-MM-yyyy");
        return newPerson;
    }

}
