@using Components
@page "/flow"
@* @page "/flow/{State:pageState}" *@
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>
@switch (currentState)
{
    case pageState.AskAboutChildren:
    <div>
        <QuestionComponent 
            Text = "Har du, eller har du haft et eller flere børn?" 
            OnYes = "@(() => {currentState = pageState.AddChildren; StateHasChanged();})"
            OnNo = "@(() => {currentState = pageState.AskAboutSpouse; StateHasChanged();})"
            ></QuestionComponent>
        </div>
        break;
    case pageState.AddChildren:
        <div>
            <CreatePersonComponent 
                Text = "Angiv data for barn/børn"
                OnFinished = "@(() => {currentState = pageState.AskAboutSpouse; StateHasChanged();})"
                OnCancel = "@(() => {currentState = pageState.AskAboutChildren; StateHasChanged();})">
            </CreatePersonComponent>
        </div>
        break;
    case pageState.AskAboutSpouse:
        <div>
        <QuestionComponent 
            Text = "Har du en nulevende ægtefælle?" 
            OnYes = "@(() => {currentState = pageState.AddSpouse; StateHasChanged();})"
            OnNo = "@(() => {currentState = pageState.AskAboutParents; StateHasChanged();})"
            >
        </QuestionComponent>
        </div>
        break;
    case pageState.AddSpouse:
        <div>
            <CreatePersonComponent 
                Text = "Angiv data for Ægtefælle"
                OnFinished = "@(() => {currentState = pageState.AskAboutParents; StateHasChanged();})"
                OnCancel = "@(() => {currentState = pageState.AskAboutSpouse; StateHasChanged();})">
            </CreatePersonComponent>
        </div>
        break;
}

@code {
    private int currentStep = 1;
    private const int lastStep = 4;
    private string createPersonTitle = "";
    private pageState currentState = pageState.AskAboutChildren;
    public enum pageState { AskAboutChildren, AddChildren, AskAboutSpouse, AddSpouse, AskAboutParents }
    [Parameter]
    public pageState state { get; set; }

    protected override void OnParametersSet()
    {
        currentState = state;
        @* NavigationManager.NavigateTo($"/flow/{state}", false); *@
        @* if (currentStep < 1 || currentStep > lastStep)
        {
            currentStep = 1;
            NavigationManager.NavigateTo("/flow/AskAboutChildren", false);
        } *@
    }

    private void NextStep()
    {
        //currentState = pageState.Parse((pageState)((int)currentState + 1))
        //currentStep++;
        currentState = pageState.AskAboutSpouse;
        StateHasChanged();
        //UpdateUrl();
    }

    private void PreviousStep()
    {
        //currentState = (pageState)((int)currentState - 1)
        UpdateUrl();
    }

    private void UpdateUrl()
    {
        NavigationManager.NavigateTo($"/flow/{currentStep}", false);
    }

    private void Complete()
    {
        // Handle flow completion
    }

    @* private List<Node> GetNodes()
        {
            Node node = new();

        } *@
}
